h1 {
  color: red;
   font-size: 20px;
  font-family: monospace;
  background: black;
}

body {
  background: pink;
  
}
.text {
  width: 550px;
}

border-text {
  border-color: red;
  border-widtn: 20px;
  border-style: solid;
}
