h1 {
  color: red;
   font-size: 20px;
  font-family: monospace;
  background: black;
}

body {
  background: pink;
  
}
.text {
  width: 550px;
}

.border-text {
  border-color: red;
  border-width: 20px;
  border-style: solid;
}
.green-text {
  border-radius: 20px;
  border-color: green;
  border-width: 10px;
  border-style: solid;
}
.text-size {
  font-size: 50px;
}
div {
height: 40px;
width: 70px;
}
